<div id="filter">
    <form method="get" action="/send">
        <div class="row fields">
            <div class="col-3 comp">
                <h1>Köbcenti</h1>
                <div class="row">
                    <input name="minCcm" type="number" class="form-control form-control-sm col-5" placeholder="Minimum ">
                    <span class="col-2"> - </span>
                    <input name="maxCcm" type="number" class="form-control form-control-sm col-5" placeholder="Maximum ">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary send-button">Keres</button>
    </form>
</div>