
<br>
<div class="row">
{{#each motors}}
    <div class="card motor" style="width: 18rem;">
        <img class="card-img-top" height="180" src="./upload/{{this.image}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">Hengerűrtartalom: {{this.ccm}}ccm</p>
        </div>
    </div>
{{/each}}
</div>